<div class="container mt-5">
    <h1>Welcome, @ViewBag.Username</h1>
    <p>Here is your to-do list:</p>
    <a href="#" class="btn btn-primary mb-3">Create New</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Creation Date</th>
                <th>Deadline</th>
                <th>File</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Example Todo 1</td>
                <td>Example Description 1</td>
                <td>3/10/2024</td>
                <td>3/17/2024 10:00 AM</td>
                <td><a href="#" class="btn btn-secondary btn-sm"><i class="fas fa-download"></i> Download</a></td>
                <td>
                    <a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Edit</a>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
            <tr class="table-active">
                <td>Example Todo 2</td>
                <td>Example Description 2</td>
                <td>3/10/2024</td>
                <td>3/17/2024 11:00 AM</td>
                <td><a href="#" class="btn btn-secondary btn-sm"><i class="fas fa-download"></i> Download</a></td>
                <td>
                    <a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Edit</a>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
            <tr>
                <td>Example Todo 3</td>
                <td>Example Description 3</td>
                <td>3/10/2024</td>
                <td>3/17/2024 1:00 PM</td>
                <td><a href="#" class="btn btn-secondary btn-sm"><i class="fas fa-download"></i> Download</a></td>
                <td>
                    <a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Edit</a>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
            <tr>
                <td>Example Todo 4</td>
                <td>Example Description 4</td>
                <td>3/10/2024</td>
                <td>3/17/2024 2:00 PM</td>
                <td><a href="#" class="btn btn-secondary btn-sm"><i class="fas fa-download"></i> Download</a></td>
                <td>
                    <a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Edit</a>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
            <tr>
                <td>Example Todo 5</td>
                <td>Example Description 5</td>
                <td>3/10/2024</td>
                <td>3/17/2024 3:00 PM</td>
                <td><a href="#" class="btn btn-outline-success btn-sm"><i class="fas fa-download"></i> Download</a></td>
                <td>
                    <a href="#" class="btn btn-outline-info btn-sm"><i class="fas fa-edit"></i> Edit</a>
                    <a href="#" class=" btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
