
<div class="text-center p-5 bg-white shadow rounded">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Start organizing your tasks and stay productive!</p>
    <p>Get started by creating your first to-do item.</p>
    <a href="/ToDoItems/Create" class="btn btn-primary btn-lg">Create New To-Do Item</a>
</div>